p
{
	text-align:center;
	font-size:18px;
	font-family:"Candara";
}
p i
{
	font-size:48px;
	font-weight:bold;
}
table.main
{
	margin-left:auto;
	margin-right:auto;
	/*padding:5px 5px 5px 5px ;*/
	border-spacing: 30px 1px;
	border-collapse:separate;
	/*border:1px solid #000;*/
	text-align:center;
}
table.main td.ndata{
	background-color:#b8b8b8;
}

table.main td.ndata,
table.main td.data
{
	border:1px solid #000;
	vertical-align: top;
	padding:5px 5px 5px 5px ;
}
table.internal  th{
	background-color:#D3D3D3;
}
table.internal td,table.internal  th
{
	border:1px solid #000;
}
table.internal
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	height:auto;
}
/*-----------------------------------------------------------------------------------------------*/
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }